{% extends "base.html" %} {% load static %} {% block mainbody %}

<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="contact_taital">Order</h1>
                <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="contact_section_2">
            <div class="row">
                <div class="col-md-12">
                    <form action="/order/{{coffee.id}}" method="POST">
                        {% csrf_token %}
                        <div class="mail_section_1">
                            <input type="text" class="mail_text" placeholder="{{coffee.name}}" value="{{coffee.name}}" name="name" readonly>
                            <input type="text" class="mail_text" placeholder="{{coffee.price}}" value="{{coffee.price}}" name="price" readonly>
                            <input type="number" class="mail_text" min="1" value="1" name="quantity">
                            <textarea class="massage-bt" placeholder="Enter Address Here" rows="5" id="comment" name="address"></textarea>
                            <div class="send_bt">
                                <input type="submit" value=" Confirm Order ">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section end -->{% endblock mainbody %}